.btnHeart:hover svg path{
	fill: red ;
	
}

.btnStatic:hover svg path{
	fill: red;

}


.korzinkaBtn:hover path {
	fill: white;
	
}
.korzinkaBtn:hover{
	background-color: black;
}
.wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}